{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle1.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to Password Generator Portal</h1>
        <div class="auth-box">
            <p>For new users, sign up here:</p>
            <button class="btn" onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>    <!-- in thaa button press panum bothu (VIEWs funct poitu , apro urlsku pogum)-->
            <p>Existing users, login here:</p>
            <button class="btn" onclick="window.location.href='{% url 'login' %}'">Login</button> 
        </div>
    </main>

    <footer>
        <p>Designed by NanSa @2025</p>
    </footer>
</body>
</html>
